/*SEARCHBOX SECTION*/
.searchbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.search {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px 5px;
    border: 1px solid;
    padding: 0 15px;
}

.button {
    height: 40px;
    font-size: 20px;
    border-radius: 10px 10px;
    border: 1px solid;
    padding: 0 15px;
}